{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PizzaDeliveryClub</title>
    <link rel="stylesheet" href="{% static 'main/css/styles.css' %}?v=2">
</head>
<body>
    <header class="container">
        <span class="logo">ДОДО-ПИЦЦА</span>
        <nav>
            <ul>
                {% if user.is_authenticated %}
                    <li class="user-info">
                        <span class="user-email">{{ user.email }}</span>
                        <a href="/logout/" class="logout-btn">Выйти</a>
                    </li>
                {% else %}
                    <li class="button">
                        <a href="#" id="open_pop_up">Войти</a>
                    </li>
                {% endif %}
                <li><a href="#">Контакты</a></li>
                <li><a href="#">О нас</a></li>
            </ul>
        </nav>
    </header>

    <div class="popular container">
        <h2>Часто заказывают</h2>

        <div class="pizza">
            <div class="block">
                <img src="{% static 'main/img/peperoni.jpeg' %}" alt="">
                <span class="l12">
                    <l1>Пепперони фреш<p></p></l1>
                    <l2>365 р.<p></p></l2>
                </span>
                <span class="l33">
                    <l3 class="btn"><a href="#">Добавить в корзину</a></l3>
                </span>
            </div>
            <div class="block">
                <img src="{% static 'main/img/dodster.jpeg' %}" alt="">
                <span class="l12">
                    <l1>Додстер<p></p></l1>
                    <l2>150 р.<p></p></l2>
                </span>
                <span class="l33">
                    <l3 class="btn"><a href="#">Добавить в корзину</a></l3>
                </span>
            </div>
            <div class="block">
                <img src="{% static 'main/img/cola.jpg' %}" alt="">
                <span class="l12">
                    <l1>Кола<p></p></l1>
                    <l2>65 р.<p></p></l2>
                </span>
                <span class="l33">
                    <l3 class="btn"><a href="#">Добавить в корзину</a></l3>
                </span>
            </div>
        </div>
    </div>

    <div class="pizzza container">
        <h3>Пиццы</h3>

        <div class="pizza2">
            <div class="block">
                <img src="{% static 'main/img/peperoni.jpeg' %}" alt="">
                <span class="l12">
                    <l1>Пепперони фреш<p></p></l1>
                    <l2>365 р.<p></p></l2>
                </span>
                <span class="l33">
                    <l3 class="btn"><a href="#">Добавить в корзину</a></l3>
                </span>
            </div>
            <div class="block">
                <img src="{% static 'main/img/peperoni.jpeg' %}" alt="">
                <span class="l12">
                    <l1>Пепперони фреш<p></p></l1>
                    <l2>365 р.<p></p></l2>
                </span>
                <span class="l33">
                    <l3 class="btn"><a href="#">Добавить в корзину</a></l3>
                </span>
            </div>
            <div class="block">
                <img src="{% static 'main/img/peperoni.jpeg' %}" alt="">
                <span class="l12">
                    <l1>Пепперони фреш<p></p></l1>
                    <l2>365 р.<p></p></l2>
                </span>
                <span class="l33">
                    <l3 class="btn"><a href="#">Добавить в корзину</a></l3>
                </span>
            </div>
        </div>

        <div class="pizza3">
            <div class="block">
                <img src="{% static 'main/img/peperoni.jpeg' %}" alt="">
                <span class="l12">
                    <l1>Пепперони фреш<p></p></l1>
                    <l2>365 р.<p></p></l2>
                </span>
                <span class="l33">
                    <l3 class="btn"><a href="#">Добавить в корзину</a></l3>
                </span>
            </div>
            <div class="block">
                <img src="{% static 'main/img/peperoni.jpeg' %}" alt="">
                <span class="l12">
                    <l1>Пепперони фреш<p></p></l1>
                    <l2>365 р.<p></p></l2>
                </span>
                <span class="l33">
                    <l3 class="btn"><a href="#">Добавить в корзину</a></l3>
                </span>
            </div>
            <div class="block">
                <img src="{% static 'main/img/peperoni.jpeg' %}" alt="">
                <span class="l12">
                    <l1>Пепперони фреш<p></p></l1>
                    <l2>365 р.<p></p></l2>
                </span>
                <span class="l33">
                    <l3 class="btn"><a href="#">Добавить в корзину</a></l3>
                </span>
            </div>
        </div>
    </div>

    <div class="snack container">
        <h4>Закуски</h4>

        <div class="snack1">
            <div class="block">
                <img src="{% static 'main/img/dodster.jpeg' %}" alt="">
                <span class="l12">
                    <l1>Додстер<p></p></l1>
                    <l2>150 р.<p></p></l2>
                </span>
                <span class="l33">
                    <l3 class="btn"><a href="#">Добавить в корзину</a></l3>
                </span>
            </div>
            <div class="block">
                <img src="{% static 'main/img/dodster.jpeg' %}" alt="">
                <span class="l12">
                    <l1>Додстер<p></p></l1>
                    <l2>150 р.<p></p></l2>
                </span>
                <span class="l33">
                    <l3 class="btn"><a href="#">Добавить в корзину</a></l3>
                </span>
            </div>
            <div class="block">
                <img src="{% static 'main/img/dodster.jpeg' %}" alt="">
                <span class="l12">
                    <l1>Додстер<p></p></l1>
                    <l2>150 р.<p></p></l2>
                </span>
                <span class="l33">
                    <l3 class="btn"><a href="#">Добавить в корзину</a></l3>
                </span>
            </div>
        </div>

        <div class="snack2">
            <div class="block">
                <img src="{% static 'main/img/dodster.jpeg' %}" alt="">
                <span class="l12">
                    <l1>Додстер<p></p></l1>
                    <l2>150 р.<p></p></l2>
                </span>
                <span class="l33">
                    <l3 class="btn"><a href="#">Добавить в корзину</a></l3>
                </span>
            </div>
            <div class="block">
                <img src="{% static 'main/img/dodster.jpeg' %}" alt="">
                <span class="l12">
                    <l1>Додстер<p></p></l1>
                    <l2>150 р.<p></p></l2>
                </span>
                <span class="l33">
                    <l3 class="btn"><a href="#">Добавить в корзину</a></l3>
                </span>
            </div>
            <div class="block">
                <img src="{% static 'main/img/dodster.jpeg' %}" alt="">
                <span class="l12">
                    <l1>Додстер<p></p></l1>
                    <l2>150 р.<p></p></l2>
                </span>
                <span class="l33">
                    <l3 class="btn"><a href="#">Добавить в корзину</a></l3>
                </span>
            </div>
        </div>
    </div>

    <div class="drinks container">
        <h5>Напитки</h5>

        <div class="drinks1">
            <div class="block">
                <img src="{% static 'main/img/cola.jpg' %}" alt="">
                <span class="l12">
                    <l1>Кола<p></p></l1>
                    <l2>65 р.<p></p></l2>
                </span>
                <span class="l33">
                    <l3 class="btn"><a href="#">Добавить в корзину</a></l3>
                </span>
            </div>
            <div class="block">
                <img src="{% static 'main/img/cola.jpg' %}" alt="">
                <span class="l12">
                    <l1>Кола<p></p></l1>
                    <l2>65 р.<p></p></l2>
                </span>
                <span class="l33">
                    <l3 class="btn"><a href="#">Добавить в корзину</a></l3>
                </span>
            </div>
            <div class="block">
                <img src="{% static 'main/img/cola.jpg' %}" alt="">
                <span class="l12">
                    <l1>Кола<p></p></l1>
                    <l2>65 р.<p></p></l2>
                </span>
                <span class="l33">
                    <l3 class="btn"><a href="#">Добавить в корзину</a></l3>
                </span>
            </div>
        </div>
    </div>

    <div class="wrapper">
        <footer class="container">
            <span class="logo">ДОДО-ПИЦЦА</span>
            <nav>
                <ul>
                    <li><a href="#">Работа</a></li>
                    <li><a href="#">Партнерам</a></li>
                    <li><a href="#">Это интересно</a></li>
                </ul>
            </nav>
        </footer>
    </div>

    <div class="pop_up" id="pop_up">
        <div class="pop_up_container">
            <div class="pop_up_body">
                <div id="email_step">
                    <p>Вход на сайт</p>
                    <form id="auth_form">
                        <input type="email" placeholder="Ваш email" required>
                        <button type="submit">Выслать код</button>
                    </form>
                </div>

                <div id="code_step" style="display: none;">
                    <p>Введите код подтверждения</p>
                    <form id="confirm_form">
                        <input type="text" placeholder="4-значный код" required>
                        <button type="submit">Подтвердить</button>
                    </form>
                </div>

                <div class="pop_up_close" id="pop_up_close">&#10006</div>
            </div>
        </div>
    </div>

    <script src="{% static 'main/js/scripts.js' %}"></script>
</body>
</html>